@import '../styles/mixins/mixins';

.blog-post {
	margin-bottom: rem-calc(25);

	&__date {
		font-family: $header-font-family;
		font-weight: $global-weight-bold;
		color: $light-gray;
		font-size: rem-calc(14);
	}

	&__heading {
		margin: rem-calc(25 0 40);

		@include breakpoint(small only) {
			margin: rem-calc(25 0);
		}
	}

	&__featured-image {
		max-width: 1024px;
		margin: 0 auto;

		&-wrapper {
			position: relative;
			width: 100vw;
			transform: translateX(-50%);
			left: 50%;
			margin: rem-calc(40 0);

			@include breakpoint(small only) {
				margin: rem-calc(25 0);
			}
		}
	}

	&__edit-link {
		&-wrapper {
			text-align: right;
			margin-bottom: rem-calc(70);
		}

		&-icon {
			font-size: rem-calc(14);
			margin-right: rem-calc(5);
		}
	}
}
